
<header class="header" >
  <div class="header-left">
    <div class="logo">
      <a routerLink="/" ><img
        src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg"
        alt="Shopcart Logo"
      /></a>
    </div>
    <nav class="nav-links">
      <ul>
        <li>Category <i class="fa-solid fa-angle-down"></i></li>
        <li>Deals</li>
        <li>What's New</li>
        <li>Delivery</li>
      </ul>
    </nav>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search Product" />
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
  </div>

  <div class="header-right">
    <a href="#" class="header-action">
      <i class="fa-regular fa-user"></i>
      <span>Account</span>
    </a>
    <a href="#" class="header-action">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Cart</span>
    </a>
  </div>
</header>
